<html>
<head>
    <style>
        th, td {
                padding-left: 10px;
                padding-right: 20px;
                }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                IpAddress
            </td>
            <td>
                {{resp.ip}}
            </td>
        </tr>
        <tr>
            <td>
                Network
            </td>
            <td>
                {{resp.subnet.IPNetwork}}
            </td>
        </tr>
        <tr>
            <td>
                SubnetMask
            </td>
            <td>
                {{resp.subnet.SubnetMask}}
            </td>
        </tr>
        <tr>
            <td>
                DefaultGateway
            </td>
            <td>
                {{resp.subnet.DefaultGateway}}
            </td>
        </tr>
        <tr>
            <td>
                VlanNumber
            </td>
            <td>
                {{resp.subnet.VlanNumber}}
            </td>
        </tr>
        <tr>
            <td>
                VlanName
            </td>
            <td>
                {{resp.subnet.VlanName}}
            </td>
        </tr>
        <tr>
            <td>
                VlanDesc
            </td>
            <td>
                {{resp.subnet.Description}}
            </td>
        </tr>
        <tr>
            <td>
                MacAddress
            </td>
            <td>
                {{resp.mac}}
            </td>
        </tr>
        <tr>
            <td>
                DeviceName
            </td>
            <td>
                {{resp.device.name}}
            </td>
        </tr>
        <tr>
            <td>
                DevicePort
            </td>
            <td>
                {{resp.device.port}}
            </td>
        </tr>
        <tr>
            <td>
                InfoBloxNames
            </td>
            <td>
                {{resp.names}}
            </td>
        </tr>
        <tr>
            <td>
                InfoBloxTypes
            </td>
            <td>
                {{resp.types}}
            </td>
        </tr>
        <tr>
            <td>
                InfoBloxUsage
            </td>
            <td>
                {{resp.usage}}
            </td>
        </tr>
        <tr>
            <td>
                InfoBloxStatus
            </td>
            <td>
                {{resp.status}}
            </td>
        </tr>
    </table>
</body>
</html>