<html>
<head>
    <style>
        th, td {
                padding-left: 10px;
                padding-right: 20px;
                }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                IP
            </td>
            <td>
                {{resp.ip}}
            </td>
        </tr>
        <tr>
            <td>
                Ranges
            </td>
            <td>
                {{resp.ranges}}
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{resp.name}}
            </td>
        </tr>
        <tr>
            <td>
                Organization
            </td>
            <td>
                <a href="{{resp.org_ref}}" target="_blank">Open</a>
            </td>
        </tr>
    </table>
</body>
</html>